<% layout('/layout/boilerplate') -%>
<body>


<div class="col-6 offset-3">
<h3 ><%=data.title%></h3>
</div>
<div class="card col-6 offset-3"  >
  <img src="<%=data.image%>" class="card-img-top" alt="listing image" style="height: 30vh;width:100%">
  <div class="card-body">

    <p class="card-text">
    <i class="card-text">Owner: <%= data.owner.username %></i>
    </p>
    <p class="card-text"><%= data.description %></p>
    <p class="card-text">&#8377 <%= data.price.toLocaleString('en-IN') %></p>
    <p class="card-text"><%= data.location %></p>
    <p class="card-text"><%= data.country %></p>

    <div class="d-flex justify-content-between col-6">
      <%if(auth && auth._id.equals(data.owner._id)){%>
    <div>
    <a href="/listing/<%=data.id%>/update" class="btn  btn-width btn-color ">UPDATE</a>
    </div>
    <div>
     <form method="post" action="/listing/<%=data.id%>/delete?_method=DELETE">
    <button class="btn btn-dark ms-2 data-bs-toggle="button>DELETE</button>
  </form>
  </div>
  <%}%>
  </div>
  </div>
</div>


<%if(auth){%>
<div class="offset-3 col-7">
<hr />
<h4>Leave A review</h4>
<form method="post" action="/listing/<%=data.id%>/review" class="needs-validation" novalidate>
  <!-- <label for="customRange1" class="form-label">Rating</label>
<input type="range" class="form-range" id="customRange1" min="1" max="5" name = review[rating]> -->

<fieldset class="starability-slot">
  <legend>Rating:</legend>
  <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="1" checked aria-label="No rating." />
  <input type="radio" id="first-rate1" name="review[rating]" value="1" />
  <label for="first-rate1" title="Terrible">1 star</label>
  <input type="radio" id="first-rate2" name="review[rating]" value="2" />
  <label for="first-rate2" title="Not good">2 stars</label>
  <input type="radio" id="first-rate3" name="review[rating]" value="3" />
  <label for="first-rate3" title="Average">3 stars</label>
  <input type="radio" id="first-rate4" name="review[rating]" value="4" />
  <label for="first-rate4" title="Very good">4 stars</label>
  <input type="radio" id="first-rate5" name="review[rating]" value="5" />
  <label for="first-rate5" title="Amazing">5 stars</label>
</fieldset>


<div class="mb-3" >
  <label for="exampleFormControlTextarea1" class="form-label">Comments</label>
  <textarea class="form-control " id="exampleFormControlTextarea1" rows="3"  name = review[comment] aria-describedby="inputGroupPrepend" required ></textarea>
  <div class="invalid-feedback">
      Enter comment!
    </div>
  </div>
<button class="btn btn-outline-danger">Submit</button>
</form>
</div>
<%}%>
  <div class="col-6 offset-3 mt-5">
  <hr>
  <h3>All Reviews</h3><br><br>
  <div class="row ms-0 me-0 row-cols-lg-2 row-cols-md-1 row-cols-sm-1 row-cols-xm-1">
    <%for(i of data.review){%>
    
      <div class="col">
    <div class="card border ">
      <div class="card-body">
        <h5 class="card-title">@<%=i.owner.username%></h5>
        <p class="starability-result card-text" data-rating="<%=i.rating%>"></p>
        <p class="card-text"><%=i.comment%></p>
          
        <form method="POST" action="/listing/<%= data.id %>/review/<%= i.id %>?_method=DELETE">
    <button type="submit" class="btn btn-dark">Delete</button>
</form>

              </div>
    </div>
  

</div>
 <%}%>
  </div>
</div>
<br><br>

<script src="/js/script.js"></script>
</body>
