<% layout('/layout/boilerplate') -%>
<body>
<div class="row ms-0 me-0">
    <div class="offset-2 col-8">
        <form method="post" action="/listing/<%= data.id %>?_method=PUT" class="needs-validation" novalidate>
        <br><br>
            <h2>Create Listing</h2>
            <div class="mb-3">
                <label for="title" class="form-label">Title:</label>
                <input class="form-control" type="text" name="listing[title]" value="<%= data.title %>" id="title" required>
                <div class="invalid-feedback">Please enter a title.</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description:</label>
                <textarea class="form-control" name="listing[description]" id="description" required><%= data.description %></textarea>
                <div class="invalid-feedback">Please enter a description.</div>
            </div>

            <div class="mb-3">
                <label for="image" class="form-label">Image:</label>
                <input class="form-control" type="text" name="listing[image]" id="image" required value="<%= data.image %>">
                <div class="invalid-feedback">Please enter an image URL.</div>
            </div>

            <div class="row mb-3">
                <div class="col-md-4 pe-2">
                    <label for="price" class="form-label">Price:</label>
                    <input class="form-control" type="number" name="listing[price]" id="price" required value="<%= data.price %>">
                    <div class="invalid-feedback">Please enter a price.</div>
                </div>
                <div class="col-md-8">
                    <label for="location" class="form-label">Location:</label>
                    <input class="form-control" type="text" name="listing[location]" value="<%= data.location %>" required id="location">
                    <div class="invalid-feedback">Please enter a location.</div>
                </div>
            </div>

            <div class="mb-3">
                <label for="country" class="form-label">Country:</label>
                <input class="form-control" type="text" name="listing[country]" value="<%= data.country %>" id="country" required>
                <div class="invalid-feedback">Please enter a country.</div>
            </div>

            <button class="btn btn-dark btn-color" type="submit">Create</button>
        </form>
        <br><br>
    </div>
</div>
<script src="/js/script.js"></script>
</body>
